In [3]:
#import dependencies
import pandas as pd

In [4]:
#set file path to csv file
budget_data_path = "Instructions/PyBank/Resources/budget_data.csv"

budget_df = pd.read_csv(budget_data_path)

In [5]:
#test file path and read function work
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [6]:
#check for blank rows
budget_df.count()

Date             86
Profit/Losses    86
dtype: int64

In [7]:
#calculate total months
budget_df["Date"].count()

86

In [8]:
#calculate net total profit/losses
budget_df["Profit/Losses"].sum()

38382578

In [9]:
#calculate row to row differences
row_change = budget_df["Profit/Losses"].diff()
#calculate average row difference
row_change.mean()

-2315.1176470588234

In [10]:
#The greatest increase in profits (date and amount) over the entire period
#grab date index
max_date = budget_df["Profit/Losses"].idxmax()
#calculate greatest increase in profits
max_value = budget_df["Profit/Losses"].max()
#used index to get date
result1 = budget_df.iloc[max_date, 0]

print(result1, " ($",max_value,")")

Feb-2012  ($ 1170593 )

In [11]:
#The greatest decrease in losses (date and amount) over the entire period
#grab date index
min_date = budget_df["Profit/Losses"].idxmin()
#calculate greatest increase in profits
min_value = budget_df["Profit/Losses"].min()
#used index to get date
result2 = budget_df.iloc[min_date, 0]

print(result2, " ($",min_value,")")

Sep-2013  ($ -1196225 )

In [12]:
def prnt():
    print("Total months: ", budget_df["Date"].count())
    print("Total: $",budget_df["Profit/Losses"].sum())
    print("Average change: $", row_change.mean())
    print("Max increase:",result1, " ($",max_value,")")
    print("Max decrease:", result2, " ($",min_value,")")

In [13]:
prnt()

Total months:  86
Total: $ 38382578
Average change: $ -2315.1176470588234
Max increase: Feb-2012  ($ 1170593 )
Max decrease: Sep-2013  ($ -1196225 )