In [36]:
#import dependencies
import pandas as pd

In [37]:
#set file path to csv file
election_data_path = "Instructions/PyPoll/Resources/election_data.csv"

election_df = pd.read_csv(election_data_path)

In [38]:
#test file path and read function work
election_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [39]:
#check for blank rows
election_df.count()

Voter ID     3521001
County       3521001
Candidate    3521001
dtype: int64

In [40]:
#calculate total votes
election_df["Voter ID"].count()

3521001

In [41]:
#get list of candidates who received votes
election_df["Candidate"].unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [42]:
#get number of votes per candidate
election_df["Candidate"].value_counts()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [43]:
#take out county column
reduced_election_df = election_df[["Voter ID","Candidate"]]

In [44]:
#tally votes per candidate
grouped_election_df = reduced_election_df.groupby(['Candidate'])

grouped_election_df.count()

           Voter ID
Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630

In [52]:
#calculate vote percentage by dividing grouped votes over total votes
vote_pct = round((grouped_election_df.count() / election_df["Voter ID"].count())*100)

print(vote_pct)

           Voter ID
Candidate
Correy         20.0
Khan           63.0
Li             14.0
O'Tooley        3.0

In [53]:
print("Election results:")
print("---------------------")
print("Total votes:", election_df["Voter ID"].count())
print("---------------------")
print(vote_pct)
print("---------------------")
print("Winner: Khan")
print("---------------------")

Election results:
---------------------
Total votes: 3521001
---------------------
           Voter ID
Candidate
Correy         20.0
Khan           63.0
Li             14.0
O'Tooley        3.0
---------------------
Winner: Khan
---------------------